Repository dotnet/extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai, @dotnet/dotnet-extensions-caching-hybrid

Script to generate weekly digest (#5550)
  .gitignore
  eng/scripts/Get-RepoDigest.ps1
  eng/scripts/repo-digest-template.html
Owners: @dotnet/dotnet-extensions-infra

state at 23_10_2024 after updating Github proposal
  LoggerWithSampling/Program.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/BufferingOptions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/GlobalBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/GlobalBufferingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/HttpRequestBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/HttpRequestBufferedLogRecord.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/HttpRequestBufferingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/HttpRequestBufferingOptions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/ILoggingBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/LoggerFilterRule.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/ExtendedLogger.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/FuncBasedSampler.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/HttpRequestRatioBasedSampler.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/RatioBasedSampler.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/SamplingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/SamplingParameters.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/TraceBasedSampler.cs
Owners: none

Add support for arrays, enums and primitive types
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatCompletion{T}.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ChatClientIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/ChatCompletion/ChatClientStructuredOutputExtensionsTests.cs
Owners: @dotnet/dotnet-extensions-ai

Use low level JSON API to manipulate the wrapper node
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatCompletion{T}.cs
Owners: @dotnet/dotnet-extensions-ai

Simplify and centralize how we read/set the $wrapped value
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatCompletion{T}.cs
Owners: @dotnet/dotnet-extensions-ai

Update following rebase
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatCompletion{T}.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ChatClientIntegrationTests.cs
Owners: @dotnet/dotnet-extensions-ai

Tidy
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
Owners: @dotnet/dotnet-extensions-ai

Fix reference
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ChatClientIntegrationTests.cs
Owners: @dotnet/dotnet-extensions-ai

Make it much more reliable on Ollama
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ChatClientIntegrationTests.cs
Owners: @dotnet/dotnet-extensions-ai

Fix number handling
  src/Libraries/Microsoft.Extensions.AI/Utilities/AIJsonUtilities.Schema.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/AIJsonUtilitiesTests.cs
Owners: @dotnet/dotnet-extensions-ai

Improve EmbeddingGeneratorExtensions
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Embeddings/EmbeddingGeneratorExtensions.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Embeddings/EmbeddingGeneratorExtensionsTests.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/EmbeddingGeneratorIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/Embeddings/DistributedCachingEmbeddingGeneratorTest.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/Embeddings/LoggingEmbeddingGeneratorTests.cs
Owners: @dotnet/dotnet-extensions-ai

Address PR feedback
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Embeddings/EmbeddingGeneratorExtensions.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Embeddings/EmbeddingGeneratorExtensionsTests.cs
Owners: @dotnet/dotnet-extensions-ai

Improve EmbeddingGeneratorExtensions (#5551)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Embeddings/EmbeddingGeneratorExtensions.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Embeddings/EmbeddingGeneratorExtensionsTests.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/EmbeddingGeneratorIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/Embeddings/DistributedCachingEmbeddingGeneratorTest.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/Embeddings/LoggingEmbeddingGeneratorTests.cs
Owners: @dotnet/dotnet-extensions-ai

Remove some defunct lazy init from chat clients
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

Add string constructor to OllamaEmbeddingGenerator
  src/Libraries/Microsoft.Extensions.AI.Ollama/OllamaEmbeddingGenerator.cs
  test/Libraries/Microsoft.Extensions.AI.Ollama.Tests/OllamaEmbeddingGeneratorTests.cs
Owners: @dotnet/dotnet-extensions-ai

Add EmbeddingGeneratorOptions.Dimensions
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Embeddings/EmbeddingGenerationOptions.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIEmbeddingGenerator.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Embeddings/EmbeddingGenerationOptionsTests.cs
Owners: @dotnet/dotnet-extensions-ai

Fix cloning of ChatOptions.TopK
  src/Libraries/Microsoft.Extensions.AI.Abstractions/ChatCompletion/ChatOptions.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/ChatCompletion/ChatOptionsTests.cs
Owners: @dotnet/dotnet-extensions-ai

Update .gitattributes
  .gitattributes
Owners: none

Update .gitattributes (#5565)
  .gitattributes
Owners: none

Return Global and Http Request buffering options
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/GlobalBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/GlobalBufferingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/GlobalBufferingOptions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/HttpRequestBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/HttpRequestBufferingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Buffering/HttpRequestBufferingOptions.cs
Owners: none

polish sampling
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/LoggerSampler.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/RatioBasedSampler.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/SamplingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/SamplingParameters.cs
Owners: none

CR feedback
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
Owners: @dotnet/dotnet-extensions-ai

add alwaysOnSampler
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/ExtendedLogger.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/ExtendedLoggerFactory.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/Sampling/AlwaysOnSampler.cs
Owners: none

Better solution
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
Owners: @dotnet/dotnet-extensions-ai

Update src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
Owners: @dotnet/dotnet-extensions-ai

update namespaces
  LoggerWithSampling/MyCustomSampler.cs
  LoggerWithSampling/Program.cs
  src/Libraries/Microsoft.Extensions.Telemetry.Abstractions/Sampling/LoggerSampler.cs
  src/Libraries/Microsoft.Extensions.Telemetry.Abstractions/Sampling/SamplingParameters.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBufferProvider.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBufferedLogRecord.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBufferingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBufferingOptions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBufferProvider.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBufferedLogRecord.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBufferingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBufferingOptions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/ILoggingBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/ILoggingBufferProvider.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/ExtendedLogger.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/ExtendedLoggerFactory.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/LoggerConfig.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Sampling/AlwaysOnSampler.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Sampling/FuncBasedSampler.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Sampling/RatioBasedSampler.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Sampling/SamplingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Sampling/TraceBasedSampler.cs
Owners: none

Avoid extra JsonElement representation
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
Owners: @dotnet/dotnet-extensions-ai

abstractions test
  test/Libraries/Microsoft.Extensions.Telemetry.Abstractions.Tests/Sampling/SamplingParametersTests.cs
Owners: none

Have only one deserialization code path
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatCompletion{T}.cs
Owners: @dotnet/dotnet-extensions-ai

Update unit test; add another
  test/Libraries/Microsoft.Extensions.AI.Tests/ChatCompletion/ChatClientStructuredOutputExtensionsTests.cs
Owners: @dotnet/dotnet-extensions-ai

Fix cloning of ChatOptions.TopK (#5564)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/ChatCompletion/ChatOptions.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/ChatCompletion/ChatOptionsTests.cs
Owners: @dotnet/dotnet-extensions-ai

Add string constructor to OllamaEmbeddingGenerator (#5562)
  src/Libraries/Microsoft.Extensions.AI.Ollama/OllamaEmbeddingGenerator.cs
  test/Libraries/Microsoft.Extensions.AI.Ollama.Tests/OllamaEmbeddingGeneratorTests.cs
Owners: @dotnet/dotnet-extensions-ai

Remove some defunct lazy init from chat clients (#5561)
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

Add EmbeddingGeneratorOptions.Dimensions (#5563)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Embeddings/EmbeddingGenerationOptions.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIEmbeddingGenerator.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Embeddings/EmbeddingGenerationOptionsTests.cs
Owners: @dotnet/dotnet-extensions-ai

Structured output improvements (continuation of PR 5522) (#5560)
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatClientStructuredOutputExtensions.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ChatCompletion{T}.cs
  src/Libraries/Microsoft.Extensions.AI/Utilities/AIJsonUtilities.Schema.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/AIJsonUtilitiesTests.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ChatClientIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/ChatCompletion/ChatClientStructuredOutputExtensionsTests.cs
Owners: @dotnet/dotnet-extensions-ai

fix failing CI test
  test/Libraries/Microsoft.Extensions.Telemetry.Abstractions.Tests/Microsoft.Extensions.Telemetry.Abstractions.Tests.csproj
Owners: none

limit to net462
  test/Libraries/Microsoft.Extensions.Telemetry.Abstractions.Tests/Microsoft.Extensions.Telemetry.Abstractions.Tests.csproj
Owners: none

Workaround fixed bug in System.Memory.Data
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

Add pragma warning and update condition check
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

Work around fixed bug in System.Memory.Data (#5569)
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @dotnet/dotnet-extensions-fundamentals will be requested for review when someone opens a pull request.

*.cmd                                                   @dotnet/dotnet-extensions-infra
*.sh                                                    @dotnet/dotnet-extensions-infra
*.ps1                                                   @dotnet/dotnet-extensions-infra
*.yml                                                   @dotnet/dotnet-extensions-infra
*.props                                                 @dotnet/dotnet-extensions-infra
*.targets                                               @dotnet/dotnet-extensions-infra
/global.json                                            @dotnet/dotnet-extensions-infra
/.azure/                                                @dotnet/dotnet-extensions-infra
/.azuredevops/                                          @dotnet/dotnet-extensions-infra
/.config/                                               @dotnet/dotnet-extensions-infra
/.devcontainer/                                         @dotnet/dotnet-extensions-infra
/.vscode/                                               @dotnet/dotnet-extensions-infra
/.github/                                               @dotnet/dotnet-extensions-infra
/docs/                                                  @dotnet/dotnet-extensions-infra
/eng/                                                   @dotnet/dotnet-extensions-infra

/src/Libraries/Microsoft.Extensions.AI                  @dotnet/dotnet-extensions-ai
/src/Libraries/Microsoft.Extensions.AI.*                @dotnet/dotnet-extensions-ai
/test/Libraries/Microsoft.Extensions.AI                 @dotnet/dotnet-extensions-ai
/test/Libraries/Microsoft.Extensions.AI.*               @dotnet/dotnet-extensions-ai

/src/Libraries/Microsoft.Extensions.Caching.Hybrid      @dotnet/dotnet-extensions-caching-hybrid
/src/Libraries/Microsoft.Extensions.Caching.Hybrid.*    @dotnet/dotnet-extensions-caching-hybrid
/test/Libraries/Microsoft.Extensions.Caching.Hybrid     @dotnet/dotnet-extensions-caching-hybrid
/test/Libraries/Microsoft.Extensions.Caching.Hybrid.*   @dotnet/dotnet-extensions-caching-hybrid
