Repository dotnet/extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai, @dotnet/dotnet-extensions-caching-hybrid

Removing latest version from Microsoft.Extensions.AI.Abstractions
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Microsoft.Extensions.AI.Abstractions.csproj
Owners: @dotnet/dotnet-extensions-ai

Removing unnecessary package reference
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Microsoft.Extensions.AI.Abstractions.csproj
Owners: @dotnet/dotnet-extensions-ai

Also removing property from AzureAIInference project
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/Microsoft.Extensions.AI.AzureAIInference.csproj
Owners: @dotnet/dotnet-extensions-ai

Bring back the actual PackageReference which is still needed
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Microsoft.Extensions.AI.Abstractions.csproj
Owners: @dotnet/dotnet-extensions-ai

Make GenerateAsync extension just return the embedding
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Embeddings/EmbeddingGeneratorExtensions.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Embeddings/EmbeddingGeneratorExtensionsTests.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/EmbeddingGeneratorIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/Embeddings/DistributedCachingEmbeddingGeneratorTest.cs
Owners: @dotnet/dotnet-extensions-ai

Suppress erroneous nullability warnings
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

Lower M.E.AI.OpenAI dependencies as well
  src/Libraries/Microsoft.Extensions.AI.OpenAI/Microsoft.Extensions.AI.OpenAI.csproj
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

Remove stale comment
  eng/Versions.props
Owners: @dotnet/dotnet-extensions-infra

Use 8.0 era dependencies for non net9.0 TFMs (#5470)
  eng/Version.Details.xml
  eng/Versions.props
  eng/packages/General-LTS.props
  eng/packages/General-net9.props
  eng/packages/General.props
  src/Libraries/Microsoft.AspNetCore.HeaderParsing/Microsoft.AspNetCore.HeaderParsing.csproj
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Microsoft.Extensions.AI.Abstractions.csproj
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.Ollama/Microsoft.Extensions.AI.Ollama.csproj
  src/Libraries/Microsoft.Extensions.AI.OpenAI/Microsoft.Extensions.AI.OpenAI.csproj
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
  src/Libraries/Microsoft.Extensions.AI/Microsoft.Extensions.AI.csproj
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Microsoft.Extensions.Caching.Hybrid.csproj
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai, @dotnet/dotnet-extensions-caching-hybrid

Update the meter names of NetworkMetrics to match other meters in ResourceMonitoring (#5541)
  src/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring/Linux/Network/LinuxNetworkMetrics.cs
  src/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring/Windows/Network/WindowsNetworkMetrics.cs
  test/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring.Tests/Linux/LinuxNetworkMetricsTests.cs
  test/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring.Tests/Windows/WindowsNetworkMetricsTests.cs
Owners: none

Fix typo in ChatCompletions comment
  src/Libraries/Microsoft.Extensions.AI.Abstractions/ChatCompletion/ChatCompletion.cs
Owners: @dotnet/dotnet-extensions-ai

Fix typo in ChatCompletions comment (#5545)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/ChatCompletion/ChatCompletion.cs
Owners: @dotnet/dotnet-extensions-ai

Remove unnecessary ctors from FunctionResultContent (#5536)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Contents/FunctionResultContent.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/FunctionInvokingChatClient.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/ChatCompletion/ChatMessageTests.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/ChatCompletion/StreamingChatCompletionUpdateTests.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Contents/FunctionResultContentTests.cs
Owners: @dotnet/dotnet-extensions-ai

Make GenerateAsync extension just return the embedding (#5543)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Embeddings/EmbeddingGeneratorExtensions.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Embeddings/EmbeddingGeneratorExtensionsTests.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/EmbeddingGeneratorIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/Embeddings/DistributedCachingEmbeddingGeneratorTest.cs
Owners: @dotnet/dotnet-extensions-ai

Remove AIContent.ModelId, add StreamingChatCompletionUpdate.ModelId (#5535)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/ChatCompletion/StreamingChatCompletionUpdate.cs
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Contents/AIContent.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.Ollama/OllamaChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/CachingChatClient.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/OpenTelemetryChatClient.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/ChatCompletion/ChatMessageTests.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Contents/AIContentTests.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Contents/DataContentTests{T}.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Contents/FunctionCallContentTests..cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Contents/FunctionResultContentTests.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Contents/TextContentTests.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Contents/UsageContentTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.Ollama.Tests/OllamaChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.OpenAI.Tests/OpenAIChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/ChatCompletion/DistributedCachingChatClientTest.cs
Owners: @dotnet/dotnet-extensions-ai

Script to generate weekly digest
  .gitignore
  eng/scripts/Get-RepoDigest.ps1
  eng/scripts/repo-digest-template.html
Owners: @dotnet/dotnet-extensions-infra

Add missing [JsonIgnore] on ChatCompletion.Message
  src/Libraries/Microsoft.Extensions.AI.Abstractions/ChatCompletion/ChatCompletion.cs
Owners: @dotnet/dotnet-extensions-ai

Add OllamaChatClient ctor with string endpoint
  src/Libraries/Microsoft.Extensions.AI.Ollama/OllamaChatClient.cs
  test/Libraries/Microsoft.Extensions.AI.Ollama.Tests/OllamaChatClientTests.cs
Owners: @dotnet/dotnet-extensions-ai

Lower M.E.AI.Ollama STJ dependency back to 8
  src/Libraries/Microsoft.Extensions.AI.Ollama/Microsoft.Extensions.AI.Ollama.csproj
  src/Libraries/Microsoft.Extensions.AI.Ollama/OllamaChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

Fix embedding integration test after telemetry updates
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/EmbeddingGeneratorIntegrationTests.cs
Owners: @dotnet/dotnet-extensions-ai

Fix embedding integration test after telemetry updates (#5555)
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/EmbeddingGeneratorIntegrationTests.cs
Owners: @dotnet/dotnet-extensions-ai

Lower M.E.AI.Ollama STJ dependency back to 8 (#5554)
  src/Libraries/Microsoft.Extensions.AI.Ollama/Microsoft.Extensions.AI.Ollama.csproj
  src/Libraries/Microsoft.Extensions.AI.Ollama/OllamaChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

Add missing [JsonIgnore] on ChatCompletion.Message (#5552)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/ChatCompletion/ChatCompletion.cs
Owners: @dotnet/dotnet-extensions-ai

Add OllamaChatClient ctor with string endpoint (#5553)
  src/Libraries/Microsoft.Extensions.AI.Ollama/OllamaChatClient.cs
  test/Libraries/Microsoft.Extensions.AI.Ollama.Tests/OllamaChatClientTests.cs
Owners: @dotnet/dotnet-extensions-ai

- handle serialization failures - enforce payload quota - enforce key validity - add proper logging (infrastructure failure: needs attn)
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.MutableCacheItem.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.Serialization.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.StampedeState.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.StampedeStateT.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/Log.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/RecyclableArrayBufferWriter.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Microsoft.Extensions.Caching.Hybrid.csproj
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/LogCollector.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/Microsoft.Extensions.Caching.Hybrid.Tests.csproj
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/SizeTests.cs
Owners: @dotnet/dotnet-extensions-caching-hybrid

- add "callback" to .dic - log deserialization failures - expose serialization failures - tests for serialization logging scenarios
  eng/spellchecking_exclusions.dic
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.CacheItem.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.ImmutableCacheItem.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.MutableCacheItem.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.Serialization.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.StampedeStateT.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/InbuiltTypeSerializer.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/Log.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/LogCollector.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/NullDistributedCache.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/SizeTests.cs
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-caching-hybrid

include enabled check in our log output
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/Log.cs
Owners: @dotnet/dotnet-extensions-caching-hybrid

nit
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.L2.cs
Owners: @dotnet/dotnet-extensions-caching-hybrid

Compile for NS2.0
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/Log.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Microsoft.Extensions.Caching.Hybrid.csproj
  src/Libraries/Microsoft.Extensions.Compliance.Abstractions/Microsoft.Extensions.Compliance.Abstractions.csproj
  src/Libraries/Microsoft.Extensions.Telemetry.Abstractions/Microsoft.Extensions.Telemetry.Abstractions.csproj
Owners: @dotnet/dotnet-extensions-caching-hybrid

support and tests for stability despite unreliable L2
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.L2.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.StampedeStateT.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/Log.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/UnreliableL2Tests.cs
Owners: @dotnet/dotnet-extensions-caching-hybrid

add event-source tracing and counters
  eng/packages/General.props
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.L2.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.StampedeStateT.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/HybridCacheEventSource.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Microsoft.Extensions.Caching.Hybrid.csproj
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-caching-hybrid

explicitly specify event-source guid
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/HybridCacheEventSource.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/HybridCacheEventSourceTests.cs
Owners: @dotnet/dotnet-extensions-caching-hybrid

satisfy the stylebot overloads
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/HybridCacheEventSource.cs
Owners: @dotnet/dotnet-extensions-caching-hybrid

nix SDT
  eng/packages/General.props
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Microsoft.Extensions.Caching.Hybrid.csproj
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-caching-hybrid

Fix a few issues in IChatClient implementations
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.OpenAI.Tests/OpenAIChatClientTests.cs
Owners: @dotnet/dotnet-extensions-ai

Address PR feedback
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Contents/TextContent.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Contents/TextContentTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ReducingChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.OpenAI.Tests/OpenAIChatClientTests.cs
Owners: @dotnet/dotnet-extensions-ai

Fix a few issues in IChatClient implementations (#5549)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Contents/TextContent.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Contents/TextContentTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ReducingChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.OpenAI.Tests/OpenAIChatClientTests.cs
Owners: @dotnet/dotnet-extensions-ai

Fix official build by resolving conflict when building the docs transport package
  src/Packages/Microsoft.Internal.Extensions.DotNetApiDocs.Transport/Microsoft.Internal.Extensions.DotNetApiDocs.Transport.proj
Owners: none

Initial sketch of an SSE JSON serializer helper.
  eng/Versions.props
  eng/packages/TestOnly.props
  src/Libraries/Microsoft.Extensions.AI/Microsoft.Extensions.AI.csproj
  src/Libraries/Microsoft.Extensions.AI/Utilities/AIJsonUtilities.Sse.cs
  src/Libraries/Microsoft.Extensions.AI/Utilities/SseEvent.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/AIJsonUtilitiesTests.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Microsoft.Extensions.AI.Abstractions.Tests.csproj
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai

Merged PR 44144: Enable producing stable versions and flow dependencies from aspnetcore and ru...
  Directory.Build.props
  NuGet.config
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/templates/BuildAndTest.yml
  src/Generators/Microsoft.Gen.MetricsReports/Directory.Build.props
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Microsoft.Extensions.AI.Abstractions.csproj
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/Microsoft.Extensions.AI.AzureAIInference.csproj
  src/Libraries/Microsoft.Extensions.AI.Ollama/Microsoft.Extensions.AI.Ollama.csproj
  src/Libraries/Microsoft.Extensions.AI.OpenAI/Microsoft.Extensions.AI.OpenAI.csproj
  src/Libraries/Microsoft.Extensions.AI/Microsoft.Extensions.AI.csproj
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Microsoft.Extensions.Caching.Hybrid.csproj
  src/Libraries/Microsoft.Extensions.Diagnostics.Probes/Directory.Build.props
  src/Libraries/Microsoft.Extensions.Hosting.Testing/Directory.Build.props
  src/Libraries/Microsoft.Extensions.Options.Contextual/Directory.Build.props
  src/Packages/Microsoft.Internal.Extensions.DotNetApiDocs.Transport/Microsoft.Internal.Extensions.DotNetApiDocs.Transport.proj
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai, @dotnet/dotnet-extensions-caching-hybrid

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @dotnet/dotnet-extensions-fundamentals will be requested for review when someone opens a pull request.

*.cmd                                                   @dotnet/dotnet-extensions-infra
*.sh                                                    @dotnet/dotnet-extensions-infra
*.ps1                                                   @dotnet/dotnet-extensions-infra
*.yml                                                   @dotnet/dotnet-extensions-infra
*.props                                                 @dotnet/dotnet-extensions-infra
*.targets                                               @dotnet/dotnet-extensions-infra
/global.json                                            @dotnet/dotnet-extensions-infra
/.azure/                                                @dotnet/dotnet-extensions-infra
/.azuredevops/                                          @dotnet/dotnet-extensions-infra
/.config/                                               @dotnet/dotnet-extensions-infra
/.devcontainer/                                         @dotnet/dotnet-extensions-infra
/.vscode/                                               @dotnet/dotnet-extensions-infra
/.github/                                               @dotnet/dotnet-extensions-infra
/docs/                                                  @dotnet/dotnet-extensions-infra
/eng/                                                   @dotnet/dotnet-extensions-infra

/src/Libraries/Microsoft.Extensions.AI                  @dotnet/dotnet-extensions-ai
/src/Libraries/Microsoft.Extensions.AI.*                @dotnet/dotnet-extensions-ai
/test/Libraries/Microsoft.Extensions.AI                 @dotnet/dotnet-extensions-ai
/test/Libraries/Microsoft.Extensions.AI.*               @dotnet/dotnet-extensions-ai

/src/Libraries/Microsoft.Extensions.Caching.Hybrid      @dotnet/dotnet-extensions-caching-hybrid
/src/Libraries/Microsoft.Extensions.Caching.Hybrid.*    @dotnet/dotnet-extensions-caching-hybrid
/test/Libraries/Microsoft.Extensions.Caching.Hybrid     @dotnet/dotnet-extensions-caching-hybrid
/test/Libraries/Microsoft.Extensions.Caching.Hybrid.*   @dotnet/dotnet-extensions-caching-hybrid
