Repository dotnet/extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai, @dotnet/dotnet-extensions-caching-hybrid, @dotnet/dotnet-extensions-analyzers, @dotnet/dotnet-extensions-compliance, @dotnet/dotnet-extensions-configuration, @dotnet/dotnet-extensions-fundamentals, @dotnet/dotnet-extensions-hosting, @dotnet/dotnet-extensions-resilience, @dotnet/dotnet-extensions-resourcemonitoring, @dotnet/dotnet-extensions-telemetry

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @dotnet/dotnet-extensions-fundamentals will be requested for review when someone opens a pull request.

*.cmd                                                                       @dotnet/dotnet-extensions-infra
*.sh                                                                        @dotnet/dotnet-extensions-infra
*.ps1                                                                       @dotnet/dotnet-extensions-infra
*.yml                                                                       @dotnet/dotnet-extensions-infra
*.props                                                                     @dotnet/dotnet-extensions-infra
*.targets                                                                   @dotnet/dotnet-extensions-infra
/global.json                                                                @dotnet/dotnet-extensions-infra
/.azure/                                                                    @dotnet/dotnet-extensions-infra
/.azuredevops/                                                              @dotnet/dotnet-extensions-infra
/.config/                                                                   @dotnet/dotnet-extensions-infra
/.devcontainer/                                                             @dotnet/dotnet-extensions-infra
/.vscode/                                                                   @dotnet/dotnet-extensions-infra
/.github/                                                                   @dotnet/dotnet-extensions-infra
/docs/                                                                      @dotnet/dotnet-extensions-infra
/eng/                                                                       @dotnet/dotnet-extensions-infra

/src/Libraries/Microsoft.Extensions.AI                                      @dotnet/dotnet-extensions-ai
/src/Libraries/Microsoft.Extensions.AI.*                                    @dotnet/dotnet-extensions-ai
/test/Libraries/Microsoft.Extensions.AI                                     @dotnet/dotnet-extensions-ai
/test/Libraries/Microsoft.Extensions.AI.*                                   @dotnet/dotnet-extensions-ai

/src/Libraries/Microsoft.Extensions.Caching.Hybrid                          @dotnet/dotnet-extensions-caching-hybrid
/src/Libraries/Microsoft.Extensions.Caching.Hybrid.*                        @dotnet/dotnet-extensions-caching-hybrid
/test/Libraries/Microsoft.Extensions.Caching.Hybrid                         @dotnet/dotnet-extensions-caching-hybrid
/test/Libraries/Microsoft.Extensions.Caching.Hybrid.*                       @dotnet/dotnet-extensions-caching-hybrid

/src/Analyzers/Microsoft.Analyzers.Extra                                    @dotnet/dotnet-extensions-analyzers
/src/Analyzers/Microsoft.Analyzers.Local                                    @dotnet/dotnet-extensions-analyzers
/src/Packages/Microsoft.Extensions.StaticAnalysis                           @dotnet/dotnet-extensions-analyzers
/test/Analyzers/Microsoft.Analyzers.Extra.*                                 @dotnet/dotnet-extensions-analyzers
/test/Analyzers/Microsoft.Analyzers.Local.*                                 @dotnet/dotnet-extensions-analyzers

/src/Generators/Microsoft.Gen.ComplianceReports                             @dotnet/dotnet-extensions-compliance
/src/Libraries/Microsoft.Extensions.Compliance.Abstractions                 @dotnet/dotnet-extensions-compliance
/src/Libraries/Microsoft.Extensions.Compliance.Redaction                    @dotnet/dotnet-extensions-compliance
/src/Libraries/Microsoft.Extensions.Compliance.Testing                      @dotnet/dotnet-extensions-compliance
/src/Packages/Microsoft.Extensions.AuditReports                             @dotnet/dotnet-extensions-compliance
/test/Generators/Microsoft.Gen.ComplianceReports                            @dotnet/dotnet-extensions-compliance
/test/Libraries/Microsoft.Extensions.Compliance.Abstractions.*              @dotnet/dotnet-extensions-compliance
/test/Libraries/Microsoft.Extensions.Compliance.Redaction.*                 @dotnet/dotnet-extensions-compliance
/test/Libraries/Microsoft.Extensions.Compliance.Testing.*                   @dotnet/dotnet-extensions-compliance

/src/Generators/Microsoft.Gen.ContextualOptions                             @dotnet/dotnet-extensions-configuration
/src/Libraries/Microsoft.Extensions.Options.Contextual                      @dotnet/dotnet-extensions-configuration
/test/Generators/Microsoft.Gen.ContextualOptions                            @dotnet/dotnet-extensions-configuration
/test/Libraries/Microsoft.Extensions.Options.Contextual.*                   @dotnet/dotnet-extensions-configuration

/src/Libraries/Microsoft.AspNetCore.AsyncState                              @dotnet/dotnet-extensions-fundamentals
/src/Libraries/Microsoft.AspNetCore.HeaderParsing                           @dotnet/dotnet-extensions-fundamentals
/src/Libraries/Microsoft.Extensions.AsyncState                              @dotnet/dotnet-extensions-fundamentals
/src/Libraries/Microsoft.Extensions.DependencyInjection.AutoActivation      @dotnet/dotnet-extensions-fundamentals
/src/Libraries/Microsoft.Extensions.ObjectPool.DependencyInjection          @dotnet/dotnet-extensions-fundamentals
/src/Libraries/Microsoft.Extensions.TimeProvider.Testing                    @dotnet/dotnet-extensions-fundamentals
/src/Shared                                                                 @dotnet/dotnet-extensions-fundamentals
/test/Libraries/Microsoft.AspNetCore.AsyncState.*                           @dotnet/dotnet-extensions-fundamentals
/test/Libraries/Microsoft.AspNetCore.HeaderParsing.*                        @dotnet/dotnet-extensions-fundamentals
/test/Libraries/Microsoft.Extensions.AsyncState.*                           @dotnet/dotnet-extensions-fundamentals
/test/Libraries/Microsoft.Extensions.DependencyInjection.AutoActivation.*   @dotnet/dotnet-extensions-fundamentals
/test/Libraries/Microsoft.Extensions.ObjectPool.DependencyInjection.*       @dotnet/dotnet-extensions-fundamentals
/test/Libraries/Microsoft.Extensions.TimeProvider.Testing.*                 @dotnet/dotnet-extensions-fundamentals
/test/Shared.*                                                              @dotnet/dotnet-extensions-fundamentals

/src/Libraries/Microsoft.AspNetCore.Testing                                 @dotnet/dotnet-extensions-hosting
/src/Libraries/Microsoft.Extensions.Hosting.Testing                         @dotnet/dotnet-extensions-hosting
/test/Libraries/Microsoft.AspNetCore.Testing.*                              @dotnet/dotnet-extensions-hosting
/test/Libraries/Microsoft.Extensions.Hosting.Testing.*                      @dotnet/dotnet-extensions-hosting

/src/Libraries/Microsoft.Extensions.Diagnostics.Probes                      @dotnet/dotnet-extensions-resilience
/src/Libraries/Microsoft.Extensions.Http.Resilience                         @dotnet/dotnet-extensions-resilience
/src/Libraries/Microsoft.Extensions.Resilience                              @dotnet/dotnet-extensions-resilience
/test/Libraries/Microsoft.Extensions.Diagnostics.Probes.*                   @dotnet/dotnet-extensions-resilience
/test/Libraries/Microsoft.Extensions.Http.Resilience.*                      @dotnet/dotnet-extensions-resilience
/test/Libraries/Microsoft.Extensions.Resilience.*                           @dotnet/dotnet-extensions-resilience

/src/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.*              @dotnet/dotnet-extensions-resourcemonitoring
/src/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring          @dotnet/dotnet-extensions-resourcemonitoring
/test/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.*             @dotnet/dotnet-extensions-resourcemonitoring
/test/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring.*       @dotnet/dotnet-extensions-resourcemonitoring

/src/Generators/Microsoft.Gen.Logging                                       @dotnet/dotnet-extensions-telemetry
/src/Generators/Microsoft.Gen.Metrics                                       @dotnet/dotnet-extensions-telemetry
/src/Generators/Microsoft.Gen.MetricsReports                                @dotnet/dotnet-extensions-telemetry
/src/Libraries/Microsoft.AspNetCore.Diagnostics.Middleware                  @dotnet/dotnet-extensions-telemetry
/src/Libraries/Microsoft.Extensions.AmbientMetadata.Application             @dotnet/dotnet-extensions-telemetry
/src/Libraries/Microsoft.Extensions.Diagnostics.ExceptionSummarization      @dotnet/dotnet-extensions-telemetry
/src/Libraries/Microsoft.Extensions.Diagnostics.Testing                     @dotnet/dotnet-extensions-telemetry
/src/Libraries/Microsoft.Extensions.Http.Diagnostics                        @dotnet/dotnet-extensions-telemetry
/src/Libraries/Microsoft.Extensions.Telemetry.*                             @dotnet/dotnet-extensions-telemetry
/src/Libraries/Microsoft.Extensions.Telemetry                               @dotnet/dotnet-extensions-telemetry
/test/Generators/Microsoft.Gen.Logging                                      @dotnet/dotnet-extensions-telemetry
/test/Generators/Microsoft.Gen.Metrics                                      @dotnet/dotnet-extensions-telemetry
/test/Generators/Microsoft.Gen.MetricsReports                               @dotnet/dotnet-extensions-telemetry
/test/Libraries/Microsoft.AspNetCore.Diagnostics.Middleware.*               @dotnet/dotnet-extensions-telemetry
/test/Libraries/Microsoft.Extensions.AmbientMetadata.Application.*          @dotnet/dotnet-extensions-telemetry
/test/Libraries/Microsoft.Extensions.Diagnostics.ExceptionSummarization.*   @dotnet/dotnet-extensions-telemetry
/test/Libraries/Microsoft.Extensions.Diagnostics.Testing.*                  @dotnet/dotnet-extensions-telemetry
/test/Libraries/Microsoft.Extensions.Http.Diagnostics.*                     @dotnet/dotnet-extensions-telemetry
/test/Libraries/Microsoft.Extensions.Telemetry.*                            @dotnet/dotnet-extensions-telemetry

HybridCache: don't log cancellation as failure
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.StampedeStateT.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/HybridCacheEventSource.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/HybridCacheEventSourceTests.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/TestEventListener.cs
Owners: @dotnet/dotnet-extensions-caching-hybrid

Add NativeAOT testapp project for M.E.AI (#5573)
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/JsonContext.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
  src/Libraries/Microsoft.Extensions.AI/Utilities/AIJsonUtilities.Defaults.cs
  test/Libraries/Microsoft.Extensions.AI.AotCompatibility.TestApp/Microsoft.Extensions.AI.AotCompatibility.TestApp.csproj
  test/Libraries/Microsoft.Extensions.AI.AotCompatibility.TestApp/Program.cs
Owners: @dotnet/dotnet-extensions-ai

Add changelogs for M.E.AI projects (#5577)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/CHANGELOG.md
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/CHANGELOG.md
  src/Libraries/Microsoft.Extensions.AI.Ollama/CHANGELOG.md
  src/Libraries/Microsoft.Extensions.AI.OpenAI/CHANGELOG.md
  src/Libraries/Microsoft.Extensions.AI/CHANGELOG.md
Owners: @dotnet/dotnet-extensions-ai

Explicitly reference System.Memory.Data in OpenAI/AzureAIInference projects (#5576)
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/Microsoft.Extensions.AI.AzureAIInference.csproj
  src/Libraries/Microsoft.Extensions.AI.OpenAI/Microsoft.Extensions.AI.OpenAI.csproj
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
Owners: @dotnet/dotnet-extensions-ai

Fix AzureAIInferenceEmbeddingGenerator to respect EmbeddingGenerationOptions.Dimensions (#5575)
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceEmbeddingGenerator.cs
Owners: @dotnet/dotnet-extensions-ai

fix exception when generating boolean schemas (#5585)
  src/Libraries/Microsoft.Extensions.AI/Utilities/AIJsonUtilities.Schema.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/AIJsonUtilitiesTests.cs
Owners: @dotnet/dotnet-extensions-ai

Add ImageContent integration test (#5586)
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ChatClientIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/Microsoft.Extensions.AI.Integration.Tests.csproj
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/dotnet.png
  test/Libraries/Microsoft.Extensions.AI.Ollama.Tests/OllamaChatClientIntegrationTests.cs
Owners: @dotnet/dotnet-extensions-ai

Add ChatOptions.Seed (#5587)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/ChatCompletion/ChatOptions.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.Ollama/OllamaChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/OpenTelemetryChatClient.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/ChatCompletion/ChatOptionsTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.Ollama.Tests/OllamaChatClientIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.Ollama.Tests/OllamaChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.OpenAI.Tests/OpenAIChatClientTests.cs
Owners: @dotnet/dotnet-extensions-ai

Lower `AIJsonUtilities` to STJv8 and move to Abstractions library. (#5582)
  eng/MSBuild/LegacySupport.props
  eng/packages/TestOnly.props
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Microsoft.Extensions.AI.Abstractions.csproj
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Utilities/AIJsonSchemaCreateOptions.cs
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Utilities/AIJsonUtilities.Defaults.cs
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Utilities/AIJsonUtilities.Schema.cs
  src/Shared/JsonSchemaExporter/JsonSchemaExporter.JsonSchema.cs
  src/Shared/JsonSchemaExporter/JsonSchemaExporter.cs
  src/Shared/JsonSchemaExporter/JsonSchemaExporterContext.cs
  src/Shared/JsonSchemaExporter/JsonSchemaExporterOptions.cs
  src/Shared/JsonSchemaExporter/NullabilityInfoContext/NullabilityInfo.cs
  src/Shared/JsonSchemaExporter/NullabilityInfoContext/NullabilityInfoContext.cs
  src/Shared/JsonSchemaExporter/NullabilityInfoContext/NullabilityInfoHelpers.cs
  src/Shared/JsonSchemaExporter/README.md
  src/Shared/Shared.csproj
  test/Shared/JsonSchemaExporter/Helpers.cs
  test/Shared/JsonSchemaExporter/JsonSchemaExporterConfigurationTests.cs
  test/Shared/JsonSchemaExporter/JsonSchemaExporterTests.cs
  test/Shared/JsonSchemaExporter/TestData.cs
  test/Shared/JsonSchemaExporter/TestTypes.cs
  test/Shared/Shared.Tests.csproj
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai, @dotnet/dotnet-extensions-fundamentals

Plug JsonSchemaExporter test data to the AIJsonUtilities tests (#5590)
  eng/packages/TestOnly.props
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Utilities/AIJsonUtilities.Schema.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Microsoft.Extensions.AI.Abstractions.Tests.csproj
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/Utilities/AIJsonUtilitiesTests.cs
  test/Shared/JsonSchemaExporter/JsonSchemaExporterTests.cs
  test/Shared/JsonSchemaExporter/SchemaTestHelpers.cs
  test/Shared/JsonSchemaExporter/TestData.cs
  test/Shared/JsonSchemaExporter/TestTypes.cs
  test/Shared/Shared.Tests.csproj
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai

Improve JsonSchemaExporter trimmer safety. (#5591)
  src/Shared/JsonSchemaExporter/JsonSchemaExporter.ReflectionHelpers.cs
  src/Shared/JsonSchemaExporter/JsonSchemaExporter.cs
  src/Shared/Shared.csproj
  test/Shared/JsonSchemaExporter/JsonSchemaExporterTests.cs
  test/Shared/JsonSchemaExporter/TestTypes.cs
Owners: @dotnet/dotnet-extensions-fundamentals

Improve AdditionalPropertiesDictionary (#5593)
  src/Libraries/Microsoft.Extensions.AI.Abstractions/AdditionalPropertiesDictionary.cs
  test/Libraries/Microsoft.Extensions.AI.Abstractions.Tests/AdditionalPropertiesDictionaryTests.cs
Owners: @dotnet/dotnet-extensions-ai

Add UseEmbeddingGenerationOptions (#5594)
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ConfigureOptionsChatClient.cs
  src/Libraries/Microsoft.Extensions.AI/ChatCompletion/ConfigureOptionsChatClientBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.AI/Embeddings/ConfigureOptionsEmbeddingGenerator.cs
  src/Libraries/Microsoft.Extensions.AI/Embeddings/ConfigureOptionsEmbeddingGeneratorBuilderExtensions.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/ChatCompletion/ConfigureOptionsChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.Tests/Embeddings/ConfigureOptionsEmbeddingGeneratorTests.cs
Owners: @dotnet/dotnet-extensions-ai

HybridCache stability and logging improvements (#5467)
  eng/packages/TestOnly.props
  eng/spellchecking_exclusions.dic
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.CacheItem.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.ImmutableCacheItem.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.L2.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.MutableCacheItem.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.Serialization.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.StampedeState.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.StampedeStateT.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/DefaultHybridCache.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/HybridCacheEventSource.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/InbuiltTypeSerializer.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/Log.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Internal/RecyclableArrayBufferWriter.cs
  src/Libraries/Microsoft.Extensions.Caching.Hybrid/Microsoft.Extensions.Caching.Hybrid.csproj
  src/Libraries/Microsoft.Extensions.Compliance.Abstractions/Microsoft.Extensions.Compliance.Abstractions.csproj
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/HybridCacheEventSourceTests.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/LogCollector.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/Microsoft.Extensions.Caching.Hybrid.Tests.csproj
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/NullDistributedCache.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/SizeTests.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/TestEventListener.cs
  test/Libraries/Microsoft.Extensions.Caching.Hybrid.Tests/UnreliableL2Tests.cs
  test/Libraries/Microsoft.Extensions.Telemetry.Abstractions.Tests/Microsoft.Extensions.Telemetry.Abstractions.Tests.csproj
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-caching-hybrid, @dotnet/dotnet-extensions-compliance, @dotnet/dotnet-extensions-telemetry
