Repository dotnet/extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai, @dotnet/dotnet-extensions-caching-hybrid

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @dotnet/dotnet-extensions-fundamentals will be requested for review when someone opens a pull request.

*.cmd                                                   @dotnet/dotnet-extensions-infra
*.sh                                                    @dotnet/dotnet-extensions-infra
*.ps1                                                   @dotnet/dotnet-extensions-infra
*.yml                                                   @dotnet/dotnet-extensions-infra
*.props                                                 @dotnet/dotnet-extensions-infra
*.targets                                               @dotnet/dotnet-extensions-infra
/global.json                                            @dotnet/dotnet-extensions-infra
/.azure/                                                @dotnet/dotnet-extensions-infra
/.azuredevops/                                          @dotnet/dotnet-extensions-infra
/.config/                                               @dotnet/dotnet-extensions-infra
/.devcontainer/                                         @dotnet/dotnet-extensions-infra
/.vscode/                                               @dotnet/dotnet-extensions-infra
/.github/                                               @dotnet/dotnet-extensions-infra
/docs/                                                  @dotnet/dotnet-extensions-infra
/eng/                                                   @dotnet/dotnet-extensions-infra

/src/Libraries/Microsoft.Extensions.AI                  @dotnet/dotnet-extensions-ai
/src/Libraries/Microsoft.Extensions.AI.*                @dotnet/dotnet-extensions-ai
/test/Libraries/Microsoft.Extensions.AI                 @dotnet/dotnet-extensions-ai
/test/Libraries/Microsoft.Extensions.AI.*               @dotnet/dotnet-extensions-ai

/src/Libraries/Microsoft.Extensions.Caching.Hybrid      @dotnet/dotnet-extensions-caching-hybrid
/src/Libraries/Microsoft.Extensions.Caching.Hybrid.*    @dotnet/dotnet-extensions-caching-hybrid
/test/Libraries/Microsoft.Extensions.Caching.Hybrid     @dotnet/dotnet-extensions-caching-hybrid
/test/Libraries/Microsoft.Extensions.Caching.Hybrid.*   @dotnet/dotnet-extensions-caching-hybrid

Update M.E.AI.AzureAIInference for its beta2 release
  eng/packages/General.props
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Embeddings/Embedding.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIChatToolJson.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceEmbeddingGenerator.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceExtensions.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/JsonContext.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceChatClientIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceEmbeddingGeneratorIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceEmbeddingGeneratorTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/IntegrationTestHelpers.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ChatClientIntegrationTests.cs
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai

Update M.E.AI.AzureAIInference for its beta2 release (#5558)
  eng/packages/General.props
  src/Libraries/Microsoft.Extensions.AI.Abstractions/Embeddings/Embedding.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIChatToolJson.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceChatClient.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceEmbeddingGenerator.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/AzureAIInferenceExtensions.cs
  src/Libraries/Microsoft.Extensions.AI.AzureAIInference/JsonContext.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceChatClientIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceChatClientTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceEmbeddingGeneratorIntegrationTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/AzureAIInferenceEmbeddingGeneratorTests.cs
  test/Libraries/Microsoft.Extensions.AI.AzureAIInference.Tests/IntegrationTestHelpers.cs
  test/Libraries/Microsoft.Extensions.AI.Integration.Tests/ChatClientIntegrationTests.cs
Owners: @dotnet/dotnet-extensions-infra, @dotnet/dotnet-extensions-ai

Add NativeAOT testapp project for M.E.AI
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatClient.cs
  test/Libraries/Microsoft.Extensions.AI.AotCompatibility.TestApp/Microsoft.Extensions.AI.AotCompatibility.TestApp.csproj
  test/Libraries/Microsoft.Extensions.AI.AotCompatibility.TestApp/Program.cs
Owners: @dotnet/dotnet-extensions-ai

add some tests
  test/Libraries/Microsoft.Extensions.Telemetry.Tests/Sampling/AlwaysOnSamplerTests.cs
  test/Libraries/Microsoft.Extensions.Telemetry.Tests/Sampling/FuncBasedSamplerTests.cs
  test/Libraries/Microsoft.Extensions.Telemetry.Tests/Sampling/RatioBasedSamplerTests.cs
  test/Libraries/Microsoft.Extensions.Telemetry.Tests/Sampling/SamplingLoggerBuilderExtensionsTests.cs
  test/Libraries/Microsoft.Extensions.Telemetry.Tests/Sampling/TracedBasedSamplerTests.cs
Owners: none

remove buffering
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBufferProvider.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBufferedLogRecord.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBufferingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/GlobalBufferingOptions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBufferProvider.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBufferedLogRecord.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBufferingLoggerBuilderExtensions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/HttpRequestBufferingOptions.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/ILoggingBuffer.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Buffering/ILoggingBufferProvider.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/ExtendedLogger.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/ExtendedLoggerFactory.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Logging/LoggerConfig.cs
  src/Libraries/Microsoft.Extensions.Telemetry/Sampling/RatioBasedSampler.cs
  test/Libraries/Microsoft.Extensions.Telemetry.Tests/Logging/ExtendedLoggerFactoryTests.cs
  test/Libraries/Microsoft.Extensions.Telemetry.Tests/Logging/ExtendedLoggerTests.cs
  test/Libraries/Microsoft.Extensions.Telemetry.Tests/Sampling/RatioBasedSamplerTests.cs
  test/Libraries/Microsoft.Extensions.Telemetry.Tests/Sampling/TracedBasedSamplerTests.cs
Owners: none
