Repository dotnet/extensions, pull requests merged in 2019-06, with the labels that each got.

#1784 Fix generic IEnumerable callsite building
  src/DependencyInjection/DI/src/ServiceLookup/CallSiteFactory.cs
  src/DependencyInjection/DI/test/ServiceProviderContainerTests.cs
Labels: area-dependencyinjection, auto-merge

#1777 ConsoleLogger: add support for systemd '<pri>message' format
  src/Logging/Logging.Console/ref/Microsoft.Extensions.Logging.Console.netstandard2.0.cs
  src/Logging/Logging.Console/src/ConsoleLogger.cs
  src/Logging/Logging.Console/src/ConsoleLoggerFormat.cs
  src/Logging/Logging.Console/src/ConsoleLoggerOptions.cs
  src/Logging/Logging.Console/src/LogMessageEntry.cs
  src/Logging/test/ConsoleLoggerTest.cs
Labels: area-logging

#1781 Options validation exception should use the failures for the message
  src/Options/DataAnnotations/src/DataAnnotationValidateOptions.cs
  src/Options/Options/ref/Microsoft.Extensions.Options.netstandard2.0.cs
  src/Options/Options/src/OptionsFactory.cs
  src/Options/Options/src/OptionsValidationException.cs
  src/Options/Options/src/ValidateOptionsResult.cs
  src/Options/test/OptionsBuilderTest.cs
Labels: area-options

#1796 ActivatorUtilities.CreateInstance: allocation optimization
  src/Shared/src/ActivatorUtilities/ActivatorUtilities.cs
Labels: area-dependencyinjection

#1749 Typos in comments
  src/Logging/Logging.EventSource/src/LoggingEventSource.cs
Labels: area-logging

#1804 Add SystemdServices package that provides Host integration for systemd.
  Extensions.sln
  eng/ProjectReferences.props
  src/Hosting/Hosting.sln
  src/Hosting/Systemd/ref/Microsoft.Extensions.Hosting.Systemd.csproj
  src/Hosting/Systemd/ref/Microsoft.Extensions.Hosting.Systemd.netstandard2.1.cs
  src/Hosting/Systemd/src/ISystemdNotifier.cs
  src/Hosting/Systemd/src/Microsoft.Extensions.Hosting.Systemd.csproj
  src/Hosting/Systemd/src/ServiceState.cs
  src/Hosting/Systemd/src/SystemdHelpers.cs
  src/Hosting/Systemd/src/SystemdHostBuilderExtensions.cs
  src/Hosting/Systemd/src/SystemdLifetime.cs
  src/Hosting/Systemd/src/SystemdNotifier.cs
  src/Hosting/Systemd/test/Microsoft.Extensions.Hosting.Systemd.Tests.csproj
  src/Hosting/Systemd/test/UseSystemdTests.cs
  src/Hosting/WindowsServices/ref/Microsoft.Extensions.Hosting.WindowsServices.netstandard2.0.cs
  src/Hosting/WindowsServices/src/WindowsServiceHelpers.cs
  src/Hosting/WindowsServices/src/WindowsServiceLifetimeHostBuilderExtensions.cs
Labels: area-hosting

#1819 Merge config path fix for #779
  src/Configuration/Config.Binder/src/ConfigurationBinder.cs
  src/Configuration/Config.Binder/src/Resources.resx
  src/Configuration/Config.Binder/test/ConfigurationBinderTests.cs
Labels: area-config

#1828 React to changes in Microsoft.NETCore.App packaging structure
  eng/Version.Details.xml
  eng/Versions.props
  eng/Workarounds.AfterArcade.targets
  global.json
Labels: area-infrastructure

#1832 Rename variable to MicrosoftNETCoreAppRuntimeVersion
  eng/Versions.props
  eng/Workarounds.AfterArcade.targets
  global.json
Labels: area-infrastructure

#1834 Disable transitive project references in test projects
  Extensions.sln
  eng/targets/ResolveReferences.targets
  src/Caching/Memory/test/Microsoft.Extensions.Caching.Memory.Tests.csproj
  src/Caching/SqlServer/test/Microsoft.Extensions.Caching.SqlServer.Tests.csproj
  src/Caching/StackExchangeRedis/test/Microsoft.Extensions.Caching.StackExchangeRedis.Tests.csproj
  src/Configuration/Config.AzureKeyVault/test/Microsoft.Extensions.Configuration.AzureKeyVault.Tests.csproj
  src/Configuration/Config.Binder/test/Microsoft.Extensions.Configuration.Binder.Tests.csproj
  src/Configuration/Config.CommandLine/test/Microsoft.Extensions.Configuration.CommandLine.Tests.csproj
  src/Configuration/Config.EnvironmentVariables/test/Microsoft.Extensions.Configuration.EnvironmentVariables.Tests.csproj
  src/Configuration/Config.FileExtensions/test/Microsoft.Extensions.Configuration.FileExtensions.Tests.csproj
  src/Configuration/Config.Ini/test/Microsoft.Extensions.Configuration.Ini.Tests.csproj
  src/Configuration/Config.Json/test/Microsoft.Extensions.Configuration.Json.Tests.csproj
  src/Configuration/Config.KeyPerFile/test/Microsoft.Extensions.Configuration.KeyPerFile.Tests.csproj
  src/Configuration/Config.NewtonsoftJson/test/Microsoft.Extensions.Configuration.NewtonsoftJson.Tests.csproj
  src/Configuration/Config.UserSecrets/test/Microsoft.Extensions.Configuration.UserSecrets.Tests.csproj
  src/Configuration/Config.Xml/test/Microsoft.Extensions.Configuration.Xml.Tests.csproj
  src/Configuration/Config/test/Microsoft.Extensions.Configuration.Tests.csproj
  src/Configuration/test/Config.FunctionalTests/Microsoft.Extensions.Configuration.FunctionalTests.csproj
  src/DependencyInjection/DI.External.Tests/test/Microsoft.Extensions.DependencyInjection.ExternalContainers.Tests.csproj
  src/DependencyInjection/DI/test/Microsoft.Extensions.DependencyInjection.Tests.csproj
  src/DiagnosticAdapter/test/Microsoft.Extensions.DiagnosticAdapter.Tests.csproj
  src/FileProviders/Composite/test/Microsoft.Extensions.FileProviders.Composite.Tests.csproj
  src/FileProviders/Embedded/test/Microsoft.Extensions.FileProviders.Embedded.Tests.csproj
  src/FileProviders/Physical/test/Microsoft.Extensions.FileProviders.Physical.Tests.csproj
  src/HealthChecks/HealthChecks/test/Microsoft.Extensions.Diagnostics.HealthChecks.Tests.csproj
  src/Hosting/Hosting/test/Microsoft.Extensions.Hosting.Tests.csproj
  src/Hosting/Systemd/test/Microsoft.Extensions.Hosting.Systemd.Tests.csproj
  src/Hosting/WindowsServices/test/Microsoft.Extensions.Hosting.WindowsServices.Tests.csproj
  src/Hosting/test/FunctionalTests/Microsoft.Extensions.Hosting.FunctionalTests.csproj
  src/HttpClientFactory/Http/test/Microsoft.Extensions.Http.Tests.csproj
  src/HttpClientFactory/Polly/test/Microsoft.Extensions.Http.Polly.Tests.csproj
  src/JSInterop/Microsoft.JSInterop/test/Microsoft.JSInterop.Tests.csproj
  src/Localization/Localization/test/Microsoft.Extensions.Localization.Tests.csproj
  src/Logging/Logging.AzureAppServices/test/Microsoft.Extensions.Logging.AzureAppServices.Tests.csproj
  src/Logging/Logging.EventSource/test/Microsoft.Extensions.Logging.EventSource.Tests.csproj
  src/Logging/Logging.Testing/test/Microsoft.Extensions.Logging.Testing.Tests.csproj
  src/Logging/test/Microsoft.Extensions.Logging.Tests.csproj
  src/ObjectPool/perf/Microsoft.Extensions.ObjectPool.Performance.csproj
  src/ObjectPool/test/Microsoft.Extensions.ObjectPool.Tests.csproj
  src/Options/test/Microsoft.Extensions.Options.Tests.csproj
  src/Primitives/perf/Microsoft.Extensions.Primitives.Performance.csproj
  src/Primitives/test/Microsoft.Extensions.Primitives.Tests.csproj
  src/TestingUtils/Microsoft.AspNetCore.Testing/test/Microsoft.AspNetCore.Testing.Tests.csproj
  src/WebEncoders/test/Microsoft.Extensions.WebEncoders.Tests.csproj
Labels: area-infrastructure

#1802 Resolve the JSInterop call if deserialization fails
  src/JSInterop/JSInterop.slnf
  src/JSInterop/Microsoft.JSInterop/ref/Microsoft.JSInterop.netstandard2.0.cs
  src/JSInterop/Microsoft.JSInterop/src/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/src/JSException.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntimeBase.cs
  src/JSInterop/Microsoft.JSInterop/test/DotNetDispatcherTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeBaseTest.cs
Labels: area-mvc

#1845 Set ReferenceAssemblyAttribute in reference assemblies
  Directory.Build.targets
  src/Shared/src/ReferenceAssemblyInfo.cs
  src/Shared/test/Microsoft.Extensions.Sources.Tests.csproj
Labels: area-platform

#1850 Handle null scope values in EventLogLogger
  src/Logging/Logging.EventLog/src/EventLogLogger.cs
  src/Logging/test/EventLogLoggerTest.cs
Labels: area-logging

#1871 fix #1723 by converting sql cache to new sqlclient
  eng/Dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/tools/BaselineGenerator/Program.cs
  src/Caching/SqlServer/Directory.Build.props
  src/Caching/SqlServer/ref/Microsoft.Extensions.Caching.SqlServer.csproj
  src/Caching/SqlServer/src/DatabaseOperations.cs
  src/Caching/SqlServer/src/Microsoft.Extensions.Caching.SqlServer.csproj
  src/Caching/SqlServer/src/MonoDatabaseOperations.cs
  src/Caching/SqlServer/src/MonoSqlParameterCollectionExtensions.cs
  src/Caching/SqlServer/src/SqlParameterCollectionExtensions.cs
  src/Caching/SqlServer/test/Microsoft.Extensions.Caching.SqlServer.Tests.csproj
  src/Caching/SqlServer/test/README.md
  src/Caching/SqlServer/test/SqlServerCacheWithDatabaseTest.cs
Labels: area-caching, breaking-change

#1865 Dispose EventLog in WindowsEventLog
  src/Logging/Logging.EventLog/src/EventLogLoggerProvider.cs
Labels: area-logging

#1901 Minor cleanup
  src/Hosting/Systemd/src/ServiceState.cs
  src/Hosting/Systemd/src/SystemdHelpers.cs
  src/Hosting/Systemd/src/SystemdHostBuilderExtensions.cs
  src/Hosting/Systemd/src/SystemdLifetime.cs
Labels: area-hosting
