Repository dotnet/extensions, pull requests merged in 2019-01, with the labels that each got.

#611 Use Task.Run instead of Task.Factory.StartNew
  src/Logging/Logging.AzureAppServices/src/BatchingLoggerProvider.cs
Labels: area-logging

#879 Validate that implemenation types are assignable to service types
  src/DependencyInjection/DI/src/Properties/Resources.Designer.cs
  src/DependencyInjection/DI/src/Resources.resx
  src/DependencyInjection/DI/src/ServiceLookup/CallSiteFactory.cs
  src/DependencyInjection/DI/src/ServiceLookup/ConstantCallSite.cs
  src/DependencyInjection/DI/src/ServiceLookup/ConstructorCallSite.cs
  src/DependencyInjection/DI/test/ServiceLookup/CallSiteFactoryTest.cs
  src/DependencyInjection/DI/test/ServiceProviderValidationTests.cs
Labels: area-dependencyinjection

#878 Obsolete InplaceStringBuilder
  src/Primitives/src/InplaceStringBuilder.cs
  src/Primitives/test/InplaceStringBuilderTest.cs
Labels: area-primitives

#592 [2.2.x] Port Drop messages in azure loggers if queue is full
  eng/PatchConfig.props
  src/Logging/Logging.AzureAppServices/src/Internal/BatchingLoggerProvider.cs
  src/Logging/Logging.AzureAppServices/test/BatchingLoggerProviderTests.cs
Labels: area-logging, servicing-approved

#917 Add event name in localization
  src/Localization/Localization/src/Internal/ResourceManagerStringLocalizerLoggerExtensions.cs
Labels: area-localization

#1021 Workaround for dotnet/cli#10528 - fix NU1605 error when Maestro updates corefx dependencies
  Directory.Build.targets
  eng/Version.Details.xml
  eng/Versions.props
  eng/Workarounds.AfterArcade.targets
Labels: area-infrastructure

#1010 Add DisposeAsync support to generic host
  src/DependencyInjection/DI/src/ServiceLookup/ServiceProviderEngineScope.cs
  src/DependencyInjection/DI/test/ServiceProviderContainerTests.AsyncDisposable.cs
  src/Hosting/Abstractions/src/HostingAbstractionsHostExtensions.cs
  src/Hosting/Abstractions/src/Microsoft.Extensions.Hosting.Abstractions.csproj
  src/Hosting/Hosting/src/Internal/Host.cs
  src/Hosting/Hosting/src/Microsoft.Extensions.Hosting.csproj
  src/Hosting/Hosting/test/HostTests.cs
  src/Hosting/Hosting/test/Internal/HostTests.AsyncDisposable.cs
  src/Hosting/Hosting/test/Internal/HostTests.cs
Labels: area-hosting
