Repository dotnet/extensions, pull requests merged in 2019-04, with the labels that each got.

#1313 Update Polly to 7.1.0 and 3.0.0
  eng/Dependencies.props
Labels: area-httpclientfactory

#1353 Switch to flaky instead of hard skip
  src/Configuration/test/Config.FunctionalTests/ConfigurationTests.cs
Labels: area-config

#1361 Dispose configuration in host (Fixes #938)
  src/Configuration/Config/ref/Microsoft.Extensions.Configuration.netstandard2.0.cs
  src/Configuration/Config/src/ChainedBuilderExtensions.cs
  src/Configuration/Config/src/ChainedConfigurationProvider.cs
  src/Configuration/Config/src/ChainedConfigurationSource.cs
  src/Configuration/Config/test/ConfigurationRootTest.cs
  src/Hosting/Hosting/src/HostBuilder.cs
  src/Hosting/Hosting/test/Internal/HostTests.AsyncDisposable.cs
  src/Hosting/Hosting/test/Internal/HostTests.cs
Labels: area-config, area-hosting

#1369 Make IsWindowsService() visible publicly
  src/Hosting/WindowsServices/ref/Microsoft.Extensions.Hosting.WindowsServices.netstandard2.0.cs
  src/Hosting/WindowsServices/src/ServiceHelpers.cs
  src/Hosting/WindowsServices/src/WindowsServiceLifetimeHostBuilderExtensions.cs
Labels: area-hosting

#1312 Port fix for #1041 to 2.2
  eng/PatchConfig.props
  src/HealthChecks/HealthChecks/src/HealthCheckPublisherOptions.cs
Labels: area-healthchecks, servicing-approved

#1405 [2.2] Fix for assembly version not matching package version
  Directory.Build.targets
  eng/NuGetPackageVerifier.json
  eng/PatchConfig.props
Labels: servicing-consider

#1402 Add Microsoft.Extensions.Logging.AzureAppServices to patch
  eng/PatchConfig.props
Labels: servicing-consider

#1409 Add doc comments to Host.CreateDefaultBuilder
  src/Hosting/Hosting/src/Host.cs
Labels: area-hosting

#1434 Tags defined during health check registration are now available in th…
  src/HealthChecks/Abstractions/ref/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.netstandard2.0.cs
  src/HealthChecks/Abstractions/src/HealthReportEntry.cs
  src/HealthChecks/HealthChecks/src/DefaultHealthCheckService.cs
  src/HealthChecks/HealthChecks/test/DefaultHealthCheckServiceTest.cs
Labels: area-healthchecks

#1429 KeyVault Config Provider ctor parameter validation
  src/Configuration/Config.AzureKeyVault/src/AzureKeyVaultConfigurationProvider.cs
  src/Configuration/Config.AzureKeyVault/test/AzureKeyVaultConfigurationTest.cs
Labels: area-config

#1447 Add security section to issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area-infrastructure

#1461 Fix for false-positive publish failures when tests fail
  azure-pipelines.yml
Labels: area-infrastructure

#1484 Update MicroBuild signing plugin to latest version
  azure-pipelines.yml
  eng/templates/default-build.yml
  korebuild-lock.txt
Labels: area-infrastructure

#1479 Lazy create ServiceProviderEngineScope.DisposeAsync statemachine
  src/DependencyInjection/DI/src/ServiceLookup/ServiceProviderEngineScope.cs
Labels: area-dependencyinjection

#1431 Update the SDK
  global.json
  src/Hosting/samples/GenericHostSample/GenericHostSample.csproj
  src/Shared/src/Directory.Build.props
Labels: area-infrastructure

#1504 Fixes aspnet/Extensions#1503
  src/DependencyInjection/DI.Specification.Tests/src/Fakes/FakeDisposableCallbackOuterService.cs
Labels: area-dependencyinjection
