Repository dotnet/extensions, pull requests merged in 2019-05, with the labels that each got.

#1682 Fix #1679
  src/HttpClientFactory/Http/src/DependencyInjection/HttpClientFactoryServiceCollectionExtensions.cs
Labels: area-httpclientfactory

#1630 Add stream based config providers
  src/Configuration/Config.Ini/ref/Microsoft.Extensions.Configuration.Ini.netstandard2.0.cs
  src/Configuration/Config.Ini/src/IniConfigurationExtensions.cs
  src/Configuration/Config.Ini/src/IniConfigurationProvider.cs
  src/Configuration/Config.Ini/src/IniStreamConfigurationProvider.cs
  src/Configuration/Config.Ini/src/IniStreamConfigurationSource.cs
  src/Configuration/Config.Ini/test/IniConfigurationTest.cs
  src/Configuration/Config.Json/ref/Microsoft.Extensions.Configuration.Json.netcoreapp3.0.cs
  src/Configuration/Config.Json/ref/Microsoft.Extensions.Configuration.Json.netstandard2.0.cs
  src/Configuration/Config.Json/src/JsonConfigurationExtensions.cs
  src/Configuration/Config.Json/src/JsonStreamConfigurationProvider.cs
  src/Configuration/Config.Json/src/JsonStreamConfigurationSource.cs
  src/Configuration/Config.Json/test/JsonConfigurationTest.cs
  src/Configuration/Config.NewtonsoftJson/ref/Microsoft.Extensions.Configuration.NewtonsoftJson.netstandard2.0.cs
  src/Configuration/Config.NewtonsoftJson/src/NewtonsoftJsonConfigurationExtensions.cs
  src/Configuration/Config.NewtonsoftJson/src/NewtonsoftJsonStreamConfigurationProvider.cs
  src/Configuration/Config.NewtonsoftJson/src/NewtonsoftJsonStreamConfigurationSource.cs
  src/Configuration/Config.NewtonsoftJson/test/NewtonsoftJsonConfigurationExtensionsTest.cs
  src/Configuration/Config.NewtonsoftJson/test/NewtonsoftJsonConfigurationTest.cs
  src/Configuration/Config.Xml/ref/Microsoft.Extensions.Configuration.Xml.netstandard2.0.cs
  src/Configuration/Config.Xml/src/XmlConfigurationExtensions.cs
  src/Configuration/Config.Xml/src/XmlConfigurationProvider.cs
  src/Configuration/Config.Xml/src/XmlStreamConfigurationProvider.cs
  src/Configuration/Config.Xml/src/XmlStreamConfigurationSource.cs
  src/Configuration/Config.Xml/test/XmlConfigurationTest.cs
  src/Configuration/Config/ref/Microsoft.Extensions.Configuration.netstandard2.0.cs
  src/Configuration/Config/src/StreamConfigurationProvider.cs
  src/Configuration/Config/src/StreamConfigurationSource.cs
Labels: area-config, breaking-change

#1692 Use Arcade to manage .NET Core installation and remove custom logger download
  azure-pipelines.yml
  eng/Tools.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/cross/build-rootfs.sh
  eng/common/tools.ps1
  eng/common/tools.sh
  eng/dotnet-install.ps1
  eng/dotnet-install.sh
  eng/scripts/azpbuild.ps1
  eng/scripts/azpbuild.sh
  global.json
Labels: area-infrastructure

#1698 Obsolete TestPathUtilities
  Directory.Build.props
  Extensions.sln
  src/Hosting/Hosting/test/HostBuilderTests.cs
  src/Hosting/Hosting/test/Microsoft.Extensions.Hosting.Tests.csproj
  src/Hosting/test/FunctionalTests/Microsoft.Extensions.Hosting.FunctionalTests.csproj
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/TestPathUtilities.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/test/TestPathUtilitiesTest.cs
Labels: area-hosting

#1745 Automate dependency updates to NETStandard 2.1 ref pack
  eng/Version.Details.xml
  eng/Versions.props
  eng/Workarounds.AfterArcade.targets
Labels: auto-merge

#1696 StringValues don't output null or empty values in ToString
  src/Primitives/src/StringValues.cs
  src/Primitives/test/StringValuesTests.cs
Labels: area-primitives

#1704 Use System.Text.Json in Microsoft.JSInterop
  .editorconfig
  src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts
  src/JSInterop/Microsoft.JSInterop/ref/Microsoft.JSInterop.csproj
  src/JSInterop/Microsoft.JSInterop/ref/Microsoft.JSInterop.netstandard2.0.cs
  src/JSInterop/Microsoft.JSInterop/src/DotNetDispatcher.cs
  src/JSInterop/Microsoft.JSInterop/src/DotNetObjectRef.cs
  src/JSInterop/Microsoft.JSInterop/src/DotNetObjectRefManager.cs
  src/JSInterop/Microsoft.JSInterop/src/DotNetObjectRefOfT.cs
  src/JSInterop/Microsoft.JSInterop/src/ICustomArgSerializer.cs
  src/JSInterop/Microsoft.JSInterop/src/IDotNetObjectRef.cs
  src/JSInterop/Microsoft.JSInterop/src/IJSRuntime.cs
  src/JSInterop/Microsoft.JSInterop/src/InteropArgSerializerStrategy.cs
  src/JSInterop/Microsoft.JSInterop/src/JSAsyncCallResult.cs
  src/JSInterop/Microsoft.JSInterop/src/JSInProcessRuntimeBase.cs
  src/JSInterop/Microsoft.JSInterop/src/JSRuntimeBase.cs
  src/JSInterop/Microsoft.JSInterop/src/Json/CamelCase.cs
  src/JSInterop/Microsoft.JSInterop/src/Json/Json.cs
  src/JSInterop/Microsoft.JSInterop/src/Json/SimpleJson/README.txt
  src/JSInterop/Microsoft.JSInterop/src/Json/SimpleJson/SimpleJson.cs
  src/JSInterop/Microsoft.JSInterop/src/JsonSerializerOptionsProvider.cs
  src/JSInterop/Microsoft.JSInterop/src/Microsoft.JSInterop.csproj
  src/JSInterop/Microsoft.JSInterop/test/DotNetDispatcherTest.cs
  src/JSInterop/Microsoft.JSInterop/test/DotNetObjectRefTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSInProcessRuntimeBaseTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeBaseTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JSRuntimeTest.cs
  src/JSInterop/Microsoft.JSInterop/test/JsonUtilTest.cs
Labels: area-mvc
