Repository dotnet/extensions, pull requests merged in 2019-03, with the labels that each got.

#1204 Use invariant culture
  src/Options/test/OptionsTest.cs
Labels: area-config

#1222 add FlakyAttribute to mark flaky tests
  Directory.Build.targets
  eng/FlakyTests.targets
  src/Logging/Logging.Testing/src/LoggedTest/LoggedTestBase.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/AzurePipelines.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/HelixQueues.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/xunit/FlakyAttribute.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/xunit/FlakyTestDiscoverer.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/test/FlakyAttributeTest.cs
Labels: area-infrastructure

#1227 Use Utf8JsonWriter in EventSourceLogger
  src/Logging/Logging.EventSource/Directory.Build.props
  src/Logging/Logging.EventSource/ref/Microsoft.Extensions.Logging.EventSource.csproj
  src/Logging/Logging.EventSource/src/EventSourceLogger.cs
  src/Logging/Logging.EventSource/src/Microsoft.Extensions.Logging.EventSource.csproj
  src/Logging/Logging.EventSource/test/EventSourceLoggerTest.cs
  src/Logging/Logging.EventSource/test/Microsoft.Extensions.Logging.EventSource.Tests.csproj
  src/Logging/Logging.sln
Labels: area-logging

#1219 Remove newtonsoft ref and sharedsource false flag
  src/Configuration/Config.Json/ref/Microsoft.Extensions.Configuration.Json.csproj
  src/Configuration/Config.Json/src/Microsoft.Extensions.Configuration.Json.csproj
  src/Configuration/Directory.Build.props
Labels: area-config

#1117 Make the generic IStringLocalizer interface covariant
  src/Localization/Abstractions/ref/Microsoft.Extensions.Localization.Abstractions.netstandard2.0.cs
  src/Localization/Abstractions/src/IStringLocalizerOfT.cs
  src/Localization/Localization/test/StringLocalizerOfTTest.cs
Labels: area-localization

#1230 Fix typo in SqlServerCache.cs ctor
  src/Caching/SqlServer/src/SqlServerCache.cs
Labels: area-caching

#1233 Avoiding a ReverseIterator object allocation in ConfigurationRoot get
  src/Configuration/Config/src/ConfigurationRoot.cs
Labels: area-config

#1229 Update binder resources
  eng/PatchConfig.props
  src/Configuration/Config.Binder/src/ConfigurationBinder.cs
  src/Configuration/Config.Binder/src/Properties/Resources.Designer.cs
  src/Configuration/Config.Binder/src/Resources.resx
  src/Configuration/Config.Binder/test/ConfigurationBinderTests.cs
Labels: area-config, servicing-approved

#1221 Port config fix to 2.2
  eng/NuGetPackageVerifier.json
  eng/PatchConfig.props
  src/Configuration/Config.EnvironmentVariables/src/EnvironmentVariablesConfigurationProvider.cs
  src/Configuration/Config.EnvironmentVariables/test/EnvironmentVariablesTest.cs
  src/Configuration/Config.EnvironmentVariables/test/Microsoft.Extensions.Configuration.EnvironmentVariables.Tests.csproj
  src/Configuration/Config.KeyPerFile/src/KeyPerFileConfigurationProvider.cs
  src/Configuration/Config.KeyPerFile/test/KeyPerFileTests.cs
  src/Configuration/Config.KeyPerFile/test/Microsoft.Extensions.Configuration.KeyPerFile.Tests.csproj
  src/Configuration/test/Config.FunctionalTests/ConfigurationTests.cs
  src/Configuration/test/Config.FunctionalTests/Microsoft.Extensions.Configuration.FunctionalTests.csproj
Labels: area-config, servicing-approved

#1226 hacky first pass at using AzP's MSBuild logger
  azure-pipelines.yml
  eng/scripts/azpbuild.ps1
  eng/scripts/azpbuild.sh
Labels: area-infrastructure

#1248 clean up flaky filter constants
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/AzurePipelines.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/FlakyOn.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/HelixQueues.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/xunit/FlakyAttribute.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/test/FlakyAttributeTest.cs
Labels: area-infrastructure

#1260 Update caching's null value semantics for TryGetValue<TItem>
  src/Caching/Abstractions/src/MemoryCacheExtensions.cs
  src/Caching/Memory/test/MemoryCacheSetAndRemoveTests.cs
Labels: area-caching

#1291 Rename UseServiceBaseLifetime to UseWindowsService
  src/Hosting/WindowsServices/ref/Microsoft.Extensions.Hosting.WindowsServices.netstandard2.0.cs
  src/Hosting/WindowsServices/src/WindowsServiceLifetime.cs
  src/Hosting/WindowsServices/src/WindowsServiceLifetimeHostBuilderExtensions.cs
  src/Hosting/WindowsServices/test/UseWindowsServiceTests.cs
  src/Hosting/samples/GenericHostSample/ServiceBaseControlled.cs
Labels: area-hosting

#1315 Do not specify `name` of the default (hosted) pools
  eng/templates/default-build.yml
Labels: area-infrastructure

#1283 Shrink StringValues
  src/Primitives/perf/StringValuesBenchmark.cs
  src/Primitives/ref/Microsoft.Extensions.Primitives.netcoreapp3.0.cs
  src/Primitives/ref/Microsoft.Extensions.Primitives.netstandard2.0.cs
  src/Primitives/src/StringValues.cs
Labels: area-primitives

#1289 React to SIGTERM exit code change
  src/Hosting/Hosting.sln
  src/Hosting/Hosting/src/Internal/ConsoleLifetime.cs
  src/Hosting/IntegrationTesting/src/ApplicationPublisher.cs
  src/Hosting/IntegrationTesting/src/Common/ApplicationType.cs
  src/Hosting/IntegrationTesting/src/Common/DeploymentParameters.cs
  src/Hosting/IntegrationTesting/src/Common/DeploymentResult.cs
  src/Hosting/IntegrationTesting/src/Common/DotNetCommands.cs
  src/Hosting/IntegrationTesting/src/Common/LoggingHandler.cs
  src/Hosting/IntegrationTesting/src/Common/ProcessLoggingExtensions.cs
  src/Hosting/IntegrationTesting/src/Common/RetryHelper.cs
  src/Hosting/IntegrationTesting/src/Common/RuntimeArchitecture.cs
  src/Hosting/IntegrationTesting/src/Common/RuntimeFlavor.cs
  src/Hosting/IntegrationTesting/src/Common/Tfm.cs
  src/Hosting/IntegrationTesting/src/Deployers/ApplicationDeployer.cs
  src/Hosting/IntegrationTesting/src/Deployers/ApplicationDeployerFactory.cs
  src/Hosting/IntegrationTesting/src/Deployers/SelfHostDeployer.cs
  src/Hosting/IntegrationTesting/src/Microsoft.Extensions.Hosting.IntegrationTesting.csproj
  src/Hosting/IntegrationTesting/src/ProcessExtensions.cs
  src/Hosting/IntegrationTesting/src/ProcessHelpers.cs
  src/Hosting/IntegrationTesting/src/PublishedApplication.cs
  src/Hosting/IntegrationTesting/src/TestMatrix.cs
  src/Hosting/IntegrationTesting/src/TestVariant.cs
  src/Hosting/IntegrationTesting/src/baseline.netcore.json
  src/Hosting/IntegrationTesting/src/xunit/SkipIfEnvironmentVariableNotEnabled.cs
  src/Hosting/IntegrationTesting/src/xunit/SkipOn32BitOSAttribute.cs
  src/Hosting/test/FunctionalTests/Microsoft.Extensions.Hosting.FunctionalTests.csproj
  src/Hosting/test/FunctionalTests/Properties/AssemblyInfo.cs
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
  src/Hosting/test/testassets/Microsoft.Extensions.Hosting.TestApp/Microsoft.Extensions.Hosting.TestApp.csproj
  src/Hosting/test/testassets/Microsoft.Extensions.Hosting.TestApp/Program.cs
Labels: area-hosting

#1322 Do not specify `name` of the default (hosted) pools
  azure-pipelines.yml
Labels: area-infrastructure
