Repository dotnet/extensions, pull requests merged in 2019-10, with the labels that each got.

#2442 Fixing a typo in ChainedBuilderExtensions
  src/Configuration/Config/src/ChainedBuilderExtensions.cs
Labels: area-config

#2449 Add OSMinVersionAttribute
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/xunit/OSMinVersionAttribute.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/xunit/WindowsVersions.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/test/OSMinVersionAttributeTest.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/test/OSMinVersionTest.cs
Labels: area-infrastructure, task, tell-mode

#2448 [release/3.0] Pin Microsoft.NETCore.App.Ref to stable
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#2454 [release/3.0] Turn on stable builds for 3.0.1
  eng/Versions.props
Labels: area-infrastructure

#2400 Updating the documentation for SourceName
  src/Logging/Logging.EventLog/src/EventLogSettings.cs
Labels: area-logging

#2483 Compile using ref assemblies
  eng/ProjectReferences.props
  eng/targets/ReferenceAssembly.targets
  eng/targets/ResolveReferences.targets
  src/Logging/Logging.Configuration/src/Microsoft.Extensions.Logging.Configuration.csproj
  src/Logging/Logging/src/Microsoft.Extensions.Logging.csproj
  src/Shared/src/ProviderAliasUtilities/ProviderAliasUtilities.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.csproj
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.net46.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.netstandard2.0.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/Microsoft.AspNetCore.Testing.csproj
Labels: area-infrastructure, servicing-consider

#2420 Provide capability to use UTC time notation for console logs
  docs/BuildFromSource.md
  src/Logging/Logging.Console/ref/Microsoft.Extensions.Logging.Console.netcoreapp.cs
  src/Logging/Logging.Console/ref/Microsoft.Extensions.Logging.Console.netstandard2.0.cs
  src/Logging/Logging.Console/src/ConsoleLogger.cs
  src/Logging/Logging.Console/src/ConsoleLoggerOptions.cs
  src/Logging/test/ConsoleLoggerTest.cs
Labels: api-approved, area-logging

#2556 Rebrand for 3.1.0-preview3
  eng/Versions.props
Labels: area-infrastructure

#2501 DI: Fix IL builder's undefined behavior for defaulted value types.
  src/DependencyInjection/DI/src/ServiceLookup/ILEmit/ILEmitResolverBuilder.cs
  src/DependencyInjection/DI/test/Fakes/ClassWithOptionalArgsCtorWithStructs.cs
  src/DependencyInjection/DI/test/ServiceProviderContainerTests.cs
Labels: area-dependencyinjection

#2574 :lipstick: Fixed grammar.
  src/HttpClientFactory/Http/src/DependencyInjection/HttpClientBuilderExtensions.cs
Labels: area-httpclientfactory
