Repository dotnet/extensions, pull requests merged in 2020-11, with the labels that each got.

#3641 SqlServerCache: fix thread race condition when multiple threads calling ScanForExpiredItemsIfRequired
  src/Caching/SqlServer/src/SqlServerCache.cs
Labels: area-caching

#3654 [release/5.0] Disable validation stages
  azure-pipelines.yml
Labels: area-infrastructure, tell-mode

#3643 Replaced eval script with native command to read from redis. Native c…
  src/Caching/StackExchangeRedis/src/RedisExtensions.cs
Labels: area-caching, servicing-approved

#3685 Update README to point to package that moved to Azure SDK
  eng/PatchConfig.props
  src/Configuration/Config.AzureKeyVault/src/Microsoft.Extensions.Configuration.AzureKeyVault.csproj
Labels: tell-mode

#3680 Replaced eval script with native command to read from redis. Native commands have better performance compared to EVAL/EVALSHA scripts
  src/Caching/StackExchangeRedis/src/RedisExtensions.cs
Labels: area-caching, servicing-approved

#3712 Enable post-build signing
  azure-pipelines.yml
Labels: area-infrastructure
