Repository dotnet/extensions, pull requests merged in 2020-09, with the labels that each got.

#3509 Update branding to 2.1.23
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  version.props
Labels: area-infrastructure, tell-mode

#3536 [release/2.1] Memory Leak in Microsoft.Extensions.Caching.Memory when handling exceptions
  eng/PatchConfig.props
  src/Caching/Abstractions/src/MemoryCacheExtensions.cs
  src/Caching/Memory/src/CacheEntry.cs
  src/Caching/Memory/test/MemoryCacheSetAndRemoveTests.cs
  src/Caching/Memory/test/Microsoft.Extensions.Caching.Memory.Tests.csproj
Labels: area-caching

#3535 [release/3.1] Memory Leak in Microsoft.Extensions.Caching.Memory when handling exceptions
  src/Caching/Abstractions/src/MemoryCacheExtensions.cs
  src/Caching/Memory/src/CacheEntry.cs
  src/Caching/Memory/test/MemoryCacheSetAndRemoveTests.cs
Labels: area-caching

#3553 Reset database object during the Dispose method
  src/Caching/StackExchangeRedis/src/RedisCache.cs
Labels: area-caching, auto-merge

#3558 V3 publishing
  azure-pipelines.yml
  eng/Publishing.props
Labels: area-infrastructure
