Repository dotnet/extensions, pull requests merged in 2020-01, with the labels that each got.

#2562 Remove Obsoleted methods for 5.0
  src/Localization/Abstractions/ref/Microsoft.Extensions.Localization.Abstractions.netcoreapp.cs
  src/Localization/Abstractions/ref/Microsoft.Extensions.Localization.Abstractions.netstandard2.0.cs
  src/Localization/Abstractions/src/IStringLocalizer.cs
  src/Localization/Abstractions/src/StringLocalizerOfT.cs
  src/Localization/Localization/ref/Microsoft.Extensions.Localization.netcoreapp.cs
  src/Localization/Localization/ref/Microsoft.Extensions.Localization.netstandard2.0.cs
  src/Localization/Localization/src/ResourceManagerStringLocalizer.cs
  src/Localization/Localization/src/ResourceManagerWithCultureStringLocalizer.cs
  src/Localization/Localization/test/Microsoft.Extensions.Localization.Tests/StringLocalizerOfTTest.cs
Labels: area-localization

#2823 Allow ExecuteAsync cancellation propagation
  src/Hosting/Abstractions/src/BackgroundService.cs
  src/Hosting/Hosting/test/BackgroundHostedServiceTests.cs
Labels: area-hosting

#2819 Preserve functional test logs on CI
  azure-pipelines.yml
  eng/repo.targets
  src/Logging/Logging.Testing/src/AssemblyTestLog.cs
  src/Logging/Logging.Testing/src/TestFrameworkFileLoggerAttribute.cs
  src/Logging/Logging.Testing/src/build/Microsoft.Extensions.Logging.Testing.props
  src/Logging/Logging.Testing/test/AssemblyTestLogTests.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.net46.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.netstandard2.0.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/TestFileOutputContext.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/TestOutputDirectoryAttribute.cs
Labels: area-infrastructure

#2832 Contributing: Fix a typo
  src/Caching/Memory/src/MemoryCache.cs
Labels: area-caching, auto-merge

#2840 Update links for repository move/rename
  CONTRIBUTING.md
  Directory.Build.props
  README.md
  azure-pipelines.yml
  eng/Versions.props
  src/Configuration/Config.UserSecrets/test/MsBuildTargetTest.cs
  src/HealthChecks/HealthChecks/test/DependencyInjection/ServiceCollectionExtensionsTest.cs
  src/Hosting/Hosting/src/Internal/ConsoleLifetime.cs
  src/Hosting/Systemd/src/SystemdLifetime.cs
  src/Hosting/test/FunctionalTests/ShutdownTests.cs
  src/HttpClientFactory/Http/src/DependencyInjection/HttpClientMappingRegistry.cs
  src/JSInterop/Microsoft.JSInterop.JS/src/package.json
  src/JSInterop/Microsoft.JSInterop/test/Infrastructure/DotNetDispatcherTest.cs
  src/Localization/README.md
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.net46.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.netstandard2.0.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/TestPathUtilities.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/test/TestPathUtilitiesTest.cs
Labels: area-infrastructure

#2780 XML documentation comments for StringValues.
  src/Primitives/src/StringValues.cs
Labels: area-primitives

#2844 Guard for Custom Implementation of IHostApplicationLifetime
  src/Hosting/Hosting/src/Internal/Host.cs
  src/Hosting/Hosting/test/Internal/HostTests.cs
Labels: area-hosting

#2842 Update branding to 2.1.16
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/PatchConfig.props
  version.props
Labels: area-infrastructure

#2843 Update branding to 3.0.3
  azure-pipelines.yml
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/scripts/CodeCheck.ps1
Labels: area-infrastructure

#2830 Update branding to 3.1.2
  azure-pipelines.yml
  eng/Baseline.Designer.props
  eng/Baseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  eng/scripts/CodeCheck.ps1
Labels: area-infrastructure

#2817 Remove ref project from Microsoft.AspNetCore.Testing
  Directory.Build.props
  eng/ProjectReferences.props
  src/Hosting/IntegrationTesting/src/Microsoft.Extensions.Hosting.IntegrationTesting.csproj
  src/Logging/Logging.Testing/src/Microsoft.Extensions.Logging.Testing.csproj
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.csproj
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.net46.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/ref/Microsoft.AspNetCore.Testing.netstandard2.0.cs
  src/TestingUtils/Microsoft.AspNetCore.Testing/src/Microsoft.AspNetCore.Testing.csproj
  src/TestingUtils/Microsoft.AspNetCore.Testing/test/Microsoft.AspNetCore.Testing.Tests.csproj
Labels: area-infrastructure, tell-mode

#2710 Fixes for some servicing-proposed HttpClient Factory issues
  src/HttpClientFactory/Http/src/DependencyInjection/HttpClientBuilderExtensions.cs
  src/HttpClientFactory/Http/src/DependencyInjection/HttpClientFactoryServiceCollectionExtensions.cs
  src/HttpClientFactory/Http/src/DependencyInjection/HttpClientMappingRegistry.cs
  src/HttpClientFactory/Http/test/DependencyInjection/HttpClientFactoryServiceCollectionExtensionsTest.cs
Labels: area-httpclientfactory, servicing-approved

#2767 GetOrCreateAsync's factory should use ConfigureAwait
  eng/Dependencies.props
  eng/Versions.props
  src/Caching/Abstractions/src/DistributedCacheExtensions.cs
  src/Caching/Abstractions/src/MemoryCacheExtensions.cs
  src/Caching/Abstractions/src/Microsoft.Extensions.Caching.Abstractions.csproj
  src/Caching/AspNet.Extensions.ruleset
  src/Caching/Directory.Build.targets
  src/Caching/Memory/src/Microsoft.Extensions.Caching.Memory.csproj
  src/Caching/SqlServer/src/DatabaseOperations.cs
  src/Caching/SqlServer/src/Microsoft.Extensions.Caching.SqlServer.csproj
  src/Caching/SqlServer/src/MonoDatabaseOperations.cs
  src/Caching/SqlServer/src/SqlServerCache.cs
  src/Caching/StackExchangeRedis/src/Microsoft.Extensions.Caching.StackExchangeRedis.csproj
  src/Caching/StackExchangeRedis/src/RedisCache.cs
  src/Caching/StackExchangeRedis/src/RedisExtensions.cs
Labels: area-config

#2894 Pin Cryptography.Cng
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure, tell-mode

#2851 Correct a typo
  src/DependencyInjection/DI/src/ServiceLookup/ServiceCallSite.cs
Labels: area-dependencyinjection

#2829 Add case sensitivity test for options
  src/Options/test/OptionsFactoryTests.cs
Labels: area-options

#2904 fix typo from "retruned" to "returned" in HealthReport.Entries XML Comments
  src/HealthChecks/Abstractions/src/HealthReport.cs
Labels: area-healthchecks
