Repository dotnet/extensions, pull requests merged in 2025-01, with the labels that each got.

#5799 Make a number of improvements to the OpenAI serialization helpers.
  src/Libraries/Microsoft.Extensions.AI.OpenAI/JsonModelHelpers.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIChatCompletionRequest.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIModelMapper.ChatCompletion.cs
  src/Libraries/Microsoft.Extensions.AI.OpenAI/OpenAIModelMappers.StreamingChatCompletion.cs
  test/Libraries/Microsoft.Extensions.AI.OpenAI.Tests/OpenAISerializationTests.cs
Labels: area-AI

#5801 API that allows to remove all resilience handlers from the HTTP client
  src/Libraries/Microsoft.Extensions.Http.Resilience/Resilience/ResilienceHttpClientBuilderExtensions.Resilience.cs
  test/Libraries/Microsoft.Extensions.Http.Resilience.Tests/Resilience/HttpClientBuilderExtensionsTests.Resilience.cs
Labels: area-resilience, api-approved

#5531 Metadata reports generator (Issue #3999)
  src/Generators/Microsoft.Gen.ComplianceReports/Emitter.cs
  src/Generators/Microsoft.Gen.MetadataExtractor/MetadataReportsGenerator.cs
  src/Generators/Microsoft.Gen.MetadataExtractor/Microsoft.Gen.MetadataExtractor.csproj
  src/Generators/Microsoft.Gen.MetricsReports/MetricsReportsGenerator.cs
  src/Generators/Microsoft.Gen.MetricsReports/MetricsReportsHelpers.cs
  src/Packages/Microsoft.Extensions.AuditReports/Microsoft.Extensions.AuditReports.csproj
  src/Packages/Microsoft.Extensions.AuditReports/README.md
  src/Packages/Microsoft.Extensions.AuditReports/buildTransitive/Microsoft.Extensions.AuditReports.props
  test/Generators/Microsoft.Gen.MetadataExtractor/GoldenReports/Basic.json
  test/Generators/Microsoft.Gen.MetadataExtractor/GoldenReports/Inheritance.json
  test/Generators/Microsoft.Gen.MetadataExtractor/GoldenReports/LogMethod.json
  test/Generators/Microsoft.Gen.MetadataExtractor/GoldenReports/MeterAttributedWithXmlDescriptions.json
  test/Generators/Microsoft.Gen.MetadataExtractor/GoldenReports/MeterAttributedWithXmlDescriptions_RecordProperty.json
  test/Generators/Microsoft.Gen.MetadataExtractor/GoldenReports/MeterDimensionsAttributedWithXmlDescriptions.json
  test/Generators/Microsoft.Gen.MetadataExtractor/GoldenReports/MeterDimensionsAttributedWithXmlDescriptions_LogMethod.json
  test/Generators/Microsoft.Gen.MetadataExtractor/GoldenReports/RecordProperty.json
  test/Generators/Microsoft.Gen.MetadataExtractor/TestClasses/Basic.cs
  test/Generators/Microsoft.Gen.MetadataExtractor/TestClasses/Inheritance.cs
  test/Generators/Microsoft.Gen.MetadataExtractor/TestClasses/LogMethod.cs
  test/Generators/Microsoft.Gen.MetadataExtractor/TestClasses/MeterAttributedWithXmlDescriptions.cs
  test/Generators/Microsoft.Gen.MetadataExtractor/TestClasses/MeterAttributedWithXmlDescriptions_RecordProperty.cs
  test/Generators/Microsoft.Gen.MetadataExtractor/TestClasses/MeterDimensionsAttributedWithXmlDescriptions.cs
  test/Generators/Microsoft.Gen.MetadataExtractor/TestClasses/MeterDimensionsAttributedWithXmlDescriptions_LogMethod.cs
  test/Generators/Microsoft.Gen.MetadataExtractor/TestClasses/RecordProperty.cs
  test/Generators/Microsoft.Gen.MetadataExtractor/Unit/GeneratorTests.cs
  test/Generators/Microsoft.Gen.MetadataExtractor/Unit/Microsoft.Gen.MetadataExtractor.Unit.Tests.csproj
Labels: area-compliance

#5823 Inheritdoc fixes
  src/Libraries/Microsoft.Extensions.AI.Abstractions/AdditionalPropertiesDictionary{TValue}.cs
  src/Libraries/Microsoft.Extensions.Hosting.Testing/FakeHostOptions.cs
Labels: documentation

#5798 Make HealthChecks.ResourceUtilization use observable instruments
  src/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization.csproj
  src/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization/ResourceUtilizationHealthCheck.Obsolete.cs
  src/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization/ResourceUtilizationHealthCheck.cs
  src/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization/ResourceUtilizationHealthCheckOptions.cs
  src/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring/Microsoft.Extensions.Diagnostics.ResourceMonitoring.csproj
  test/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization.Tests/HealthCheckTestData.cs
  test/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization.Tests/Linux/LinuxResourceHealthCheckTests.cs
  test/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization.Tests/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization.Tests.csproj
  test/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization.Tests/ResourceHealthCheckExtensionsTests.cs
  test/Libraries/Microsoft.Extensions.Diagnostics.HealthChecks.ResourceUtilization.Tests/ResourceHealthCheckTests.cs
  test/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring.Tests/Windows/Verified/WindowsContainerSnapshotProviderTests.SnapshotProvider_EmitsLogRecord.Net.verified.txt
Labels: area-resourcemonitoring

#5473 Resource Monitoring metrics on Windows - remove multiplication by 100
  src/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring/ResourceMonitoringOptions.Windows.cs
  src/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring/Windows/WindowsContainerSnapshotProvider.cs
  src/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring/Windows/WindowsSnapshotProvider.cs
  test/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring.Tests/Windows/WindowsContainerSnapshotProviderTests.cs
  test/Libraries/Microsoft.Extensions.Diagnostics.ResourceMonitoring.Tests/Windows/WindowsSnapshotProviderTests.cs
Labels: area-resourcemonitoring
